@use "../util" as u;
.svgRed{
  position:relative;

}
.svgRed > .red{
  top: 204px;
}
.dev{
&__title{

  font-size: u.rem(100);
  margin-bottom: u.rem(60);
  @include u.breakpoints(medium){

    margin: 9.55rem 5% 3.75rem;
  }
}
  &__container > &__card{
  min-width: 34vw;
  margin-bottom: u.rem(100);
}
}

.dev__container {
  display: grid;
  position:relative;
  grid-template-columns: 1fr;
  justify-items: center;
  svg{
    top: 291px;
  }
}
@include u.breakpoints(medium) {
  .dev__container > .dev__card {
    min-width: 85vw;
    display: flex;
    .module__presentation {
      max-width:100%;
    }
    .module__link {
      display: grid;
      align-items: center;
      padding: u.rem(10) u.rem(30);
      grid-template-columns:1fr 1fr;
    }
  }
}
@media (min-width: 700px) and (max-width: 991px) {
  .dev__container > .dev__card > .module__link {
    display: block;
  }
}