@use "../util" as u;

.footer{
  p{
    margin-right: 0;
  }
  svg{
    position:inherit;
    z-index: inherit;


  }
  &__body{
    background-color:#597DA2 ;


    padding-top: u.rem(114);
    padding-bottom: u.rem(62);
    color:var(--color-white);
    @include u.breakpoints(medium){

      }
    }
  &__card{

    @include u.breakpoints(medium) {
      margin-right: u.rem(100);
      border-bottom: 1px solid #fff;
    }
  }
  &__link{
    color:#fff;
    margin-left: 10px;
    display: inline;
    font-size: u.rem(14);

  }
  &__linkList{
    @media(max-width: 700px) {
      li {
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center
      }
    }
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    max-width:810px;
    line-height: u.em(30);
    @media( min-width:701px){
      display: grid;
      grid-gap: 0 50px;
      grid-template-columns: 1fr 1fr 1fr;
      li{
        margin: 20px 0;
        display: flex;
        align-items: center;
      }

    }

  }
}