@use "../util" as u;
.singleModule{
  &__link{
    display: block;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    margin: 0 auto;
  }
  &__title{
    font-size: u.rem(50)
  }
  &__info{
    line-height:1.5em;
  }
  margin: -167px  10px u.rem(50);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 4px 5px 2px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 4px 5px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 4px 5px 2px rgba(0,0,0,0.15);
  @include u.breakpoints(medium){
    margin: u.rem(50) 5vw;
  }
  &__content{
    position:relative;
    svg{
      top: 58px;
    }
    .module__list{
      justify-content:left;
    }
  }
}
.splitLayout__box{
  position: relative;
}